*{
    text-align: center;
}

p {
    color: #c0fd68;
}

h2{
    padding: 1vw;
    max-width: 100vw;
    background-color: #c0fd68;
    color: #191068;
    font-weight: 800;
    font-size: 1.5vw;
}

body{
    background-color:  #191068;
}