<footer>
    <div class="footer">
        <div class="logoFooter">
            <img src="/images/logo ug 2.jpg">
        </div>
        <nav class="barraFooter">
            <ul>
                <li><a href="#">Productos</a></li>
                <li><a href="#">Servicios</a></li>
                <li><a href="#">Contactos</a></li>
                <li><a href="#">Nosotros</a></li>
            </ul>
        </nav>
    </div>
</footer> 