<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("./partials/head.ejs")%>
    <link rel="stylesheet" href="/css/compras.css">
</head>

<body background="/images/fondo shopcar.jpg">

    <%- include ("./partials/header.ejs")%>
    
    <main>
        <div class="CartContainer">
            <div class="Header">
                <h3 class="Heading">Shopping Cart</h3>
                <h5 class="Action">Remove all</h5>
            </div>

            <div class="Cart-Items">
                <div class="image-box">
                    <img src="images\Motherboard MSI A320M-A PRO MAX AMD AM4.png" height="100px">
                </div>
                <div class="about">
                    <h1 class="title">Motherboard MSI</h1>
                    <h3 class="subtitle">Para PC simples</h3>
                </div>
                <div class="counter">
                    <div class="btn">+</div>
                    <div class="count">2</div>
                    <div class="btn">-</div>
                </div>
                <div class="prices">
                    <div class="amount">$25.000</div>
                    <div class="save"><u>Guardar para despues</u></div>
                    <div class="remove"><u>Borrar todo</u></div>
                </div>
            </div>

            <div class="Cart-Items">
                <div class="image-box">
                    <img src="images\Motherboard MSI A320M-A PRO MAX AMD AM4.png" height="100px">
                </div>
                <div class="about">
                    <h1 class="title">Motherboard MSI</h1>
                    <h3 class="subtitle">Para PC simples</h3>
                </div>
                <div class="counter">
                    <div class="btn">+</div>
                    <div class="count">2</div>
                    <div class="btn">-</div>
                </div>
                <div class="prices">
                    <div class="amount">$25.000</div>
                    <div class="save"><u>Guardar para despues</u></div>
                    <div class="remove"><u>Borrar todo</u></div>
                </div>
            </div>

            <div class="total">
                <div>
                    <div class="Subtotal">Sub-Total</div>
                    <div class="items">2 items</div>
                </div>
                <div class="total-amount">$50.000</div>
            </div>
            <button class="button">Pagar</button>
        </div>

    </main>

    <footer>
        <div class="footer">
            <div class="logoFooter">
                <img src="/images/logo ug 2.jpg">
            </div>
            <nav class="barraFooter">
                <ul>
                    <li><a href="#">Productos</a></li>
                    <li><a href="#">Servicios</a></li>
                    <li><a href="#">Contactos</a></li>
                    <li><a href="#">Nosotros</a></li>
                </ul>
            </nav>
        </div>
    </footer>   
</body>

</html>