<!DOCTYPE html>
<html lang="en">

<head>
    <title>Compras en Unlimited Gaming</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/compras.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,700&family=Syne:wght@400;700;800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/header-footer.css">
</head>

<body>
    <header>
        <div class="top">
            <div class="burgerMenu">
                <i class="fas fa-bars fa-2x"></i>
            </div>
            <div>
                <a href="/"><img class="logo" src="/images/logo ug 2.jpg"/></a>
            </div>
            <nav>
                <ul class="ingreso">
                    <li><a href="/login">Ingresar <i class="fas fa-user"></i></a></li>
                    <li><a href="/register">Registrarse <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="/compras">Mis compras<i class="fas fa-shopping-cart"></i></a>
                </ul>
            </nav>
        </div>
        <div class="buscador">
            <div class="input"><input placeholder="Buscar productos"></div>
            <button class="botonBuscar"><i class="fas fa-search"></i></button>
        </div>
        <nav>
            <ul class="barra">
                <li><a href="#">Componentes</a></li>
                <li><a href="#">Periféricos</a></li>
                <li><a href="#">Portátiles</a></li>
                <li><a href="#">PC Armadas</a></li>
            </ul>
        </nav>
    </header>
    <main>

        <div class="cartcontainer">
            <div class="headerShopping">
                <h3 class="heading">Shopping Cart</h3>
                <h5 class="action">Remove all</h5>
            </div>

            <div class="cart-items">
                <div class="image-box">
                    <img src="images\Motherboard MSI A320M-A PRO MAX AMD AM4.png" height="100px">
                </div>
                <div class="about">
                    <h1 class="title">Motherboard MSI</h1><br>
                    <h3 class="subtitle">Para PC simples</h3> <br>
                    <input class="radio" type="radio" name="compra" value="Sí"></input>
                </div>
                <div class="counter">
                    <div class="btn">+</div>
                    <div class="count">2</div>
                    <div class="btn">-</div>
                </div>
                <div class="prices">
                    <div class="amount">$25.000</div>
                    <div class="save"><u>Guardar para despues</u></div>
                    <div class="remove"><u>Borrar todo</u></div>
                </div>
            </div>

            <div class="cart-items">
                <div class="image-box">
                    <img src="images\Motherboard MSI A320M-A PRO MAX AMD AM4.png" height="100px">
                </div>
                <div class="about">
                    <h1 class="title">Motherboard MSI</h1><br>
                    <h3 class="subtitle">Para PC simples</h3> <br>
                    <input type="radio" name="compra" value="Sí"></input>
                </div>
                <div class="counter">
                    <div class="btn">+</div>
                    <div class="count">2</div>
                    <div class="btn">-</div>
                </div>
                <div class="prices">
                    <div class="amount">$25.000</div>
                    <div class="save"><u>Guardar para despues</u></div>
                    <div class="remove"><u>Remove</u></div>
                </div>
            </div>

            <hr>

            <div class="checkout">
                <div class="total">
                    <div>
                        <div class="subtotal">Sub-Total</div>
                        <div class="items">2 items</div>
                    </div>
                    <div class="total-amount">$50.000</div>
                </div>
                <button class="button">Comprar</button>
            </div>

        </div>

    </main>

    <footer>
        <div class="footer">
            <div class="logoFooter">
                <img src="/images/logo ug 2.jpg">
            </div>
            <nav class="barraFooter">
                <ul>
                    <li><a href="#">Productos</a></li>
                    <li><a href="#">Servicios</a></li>
                    <li><a href="#">Contactos</a></li>
                    <li><a href="#">Nosotros</a></li>
                </ul>
            </nav>
        </div>
    </footer>
</body>

</html>