<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("./partials/head.ejs")%>
    <link rel="stylesheet" href="/css/register-styles.css">
</head>
<body background="/images/fondo-create-product.jpg">
    
    <%- include ("./partials/header.ejs")%>

    <main class="formulario">
       <form action="/compras/create"  method="POST" enctype="multipart/form-data">
        <div><label for="Nombredelproducto">Nombre del Producto</label>
        <input type="text" id="Nombredelproducto" name="Nombredelproducto" placeholder="Ej:Motherboard MSI A320M-A PRO MAX AMD AM4" required></div>
        <br>
        <div>
        <label for="Descripcion">Descripción</label>
        <input type="text" id="Descripcion" name="Descripcion" placeholder="Descripcion" required></div>
        <br>
        <div>
        <label for="precio">Precio</label>
        <input type="number" id="precio" name="precio" placeholder="Precio" required></div>
        <br>
        <div>
            <label>Categoría</label>
           <select name="categoria" class="categoria">
            <option value="Disipador">Disipador</option>
            <option value="Fan">Fan</option>
            <option value="Fuente">Fuente</option>
            <option value="Memoria RAM">Memoria RAM</option>
            <option value="Microprocesador">Microprocesador</option>
            <option value="Motherboard">Motherboard</option>
            <option value="Notebook">Notebook</option>
            <option value="Periféricos">Periférico</option>
            <option value="Placa de video">Placa de video</option>
            <option value="Procesador">Procesador</option>    
           </select>
        </div>
        <br> 
        <div><label for="imagen">Foto del Producto</label>
        <input type="file" id="imagen" name="imagen" accept=".jpg" multiple ></div>
        <br> 
        <div class="buttonReg">
            <button type="submit">Publicar</button>
            <button type="reset">Cancelar</button>
        </div>
    </main>
    <%- include ("./partials/footer.ejs")%>  
    </div>  
</body>
</html>