<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("./partials/head.ejs")%>
    <link rel="stylesheet" href="/css/register-styles.css">
</head>
<body background="/images/fondo-create-product.jpg">
    
    <%- include ("./partials/header.ejs")%>

    <main class="formulario">
       <form action="/creacion-de-producto"  method="POST">
        <div><label for="Nombredelproducto">Nombre del Producto</label>
        <input type="text" id="Nombredelproducto" name="Nombredelproducto" placeholder="Ej:Motherboard MSI A320M-A PRO MAX AMD AM4" required></div>
        <br>
        <div>
        <label for="Descripcion">Descripción</label>
        <input type="text" id="Descripcion" name="Descripcion" placeholder="Descripcion" required></div>
        <br>
        <div>
        <label for="precio">Precio</label>
        <input type="number" id="precio" name="precio" placeholder="Precio" required></div>
        <br> 
        <div><label for="imagen">Foto del Producto</label>
        <input type="file" id="imagen" name="imagen" accept=".jpg" multiple required></div>
        <br> 
        <div class="buttonReg">
            <button type="post">Publicar</button>
            <button type="reset">Cancelar</button>
        </div>
    </main>
    <%- include ("./partials/footer.ejs")%>  
    </div>  
</body>
</html>