<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("./partials/head.ejs")%>
    <link rel="stylesheet" href="/css/register-styles.css">
</head>
<body>
    
    <%- include ("./partials/header.ejs")%>

    <main class="formulario">
       <form action="/creacion-de-producto"  method="POST">
        <div><label for="Nombredelproducto">Nombre del Producto</label>
        <input type="name" id="Nombredelproducto" name="Nombredelproducto" placeholder="Ej:Motherboard MSI A320M-A PRO MAX AMD AM4" required></div>
        <br>
        <div><label for="NombredeUsuario">Nombre de Usuario</label>
        <input type="name" id="NombredeUsuario" name="NombredeUsuario" placeholder="Usuario" required></div>
        <br>
        <div><label for="email">E-mail</label>
            <br>
        <input type="email" id="email" name="email" placeholder="correo@correo.com" required></div>
        <br> 
        <div><label for="Date">Fecha de Nacimiento</label>
        <input type="date" id="Date" name="Date" placeholder="12/12/2012" required></div>
        <br> 
        <div><label for="domicilio">Domicilio</label>
        <input type="text" id="domiciliio" name="domiciliio" placeholder="calle 3 # 3-33" required></div>
        <br>
        <div><label for="password">Contrase単a</label>
        <input type="password" id="password" name="password" placeholder="Contrase単a" minlength="5"></div>
        <br>
        <div><label for="password">Confirmar Contrase単a</label>
        <input type="password" id="password" name="confirm password" placeholder="Confirmar Contrase単a" required></div>
        <br>    
        <div class="buttonReg">
            <button type="post">Registrarse</button>
            <button type="reset">Cancelar</button>
        </div>
    </main>

    <footer>
        <div class="footer">
            <div class="logoFooter">
                <img src="/images/logo ug 2.jpg">
            </div>
            <nav class="barraFooter">
                <ul>
                    <li><a href="#">Productos</a></li>
                    <li><a href="#">Servicios</a></li>
                    <li><a href="#">Contactos</a></li>
                    <li><a href="#">Nosotros</a></li>
                </ul>
            </nav>
        </div>
    </footer>     
    </div>  
</body>
</html>