<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("./partials/head.ejs")%>
    <link rel="stylesheet" href="/css/index-styles.css">
</head>
<body background="/images/wallhaven-4lrg1p.jpg">
    
    <%- include ("./partials/header.ejs")%>

    <main>
        <section class="offers">
            <div>
                <a href="product-detail" >
                    <div>
                        <img src="images\Motherboard MSI A320M-A PRO MAX AMD AM4.png"/>
                    </div>
                </a>
            </div>
            <div class="contenedorFlechas">
                <div>
                    <button><i class="fas fa-angle-left"></i></button>
                </div>
                <div>
                    <button ><i class="fas fa-angle-right"></i></button>
                </div>
                
            </div>
            
        </section>
        
        <div class="titP">
            <h2>Productos</h2>
        </div>
        
        <section class="productos">
            <!-- hacer dinamico cada uno de los productos -->
            <article>
                <div>
                    <a href="#" >
                        <div>
                            <img src="images\Microprocesador Intel Celeron G5905 3.50 GHz Comet Lake 4MB LGA1200.jpg"/>
                        </div>
                    </a>
                </div>
                <div class="main-desc">
                    <p class="price">$precio</p>
                    <p class="discount">descuento(si tiene)</p>
                    <h4 class="description">descripcion/nombre</h4>
                </div>
            </article>

            <article>
                <div>
                    <a href="#" >
                        <div>
                            <img src="images\Procesador AMD Ryzen 5 5600G 4.4 GHz Radeon Graphics AM4 + Cooler Wraith Stealth.jpg"/>
                        </div>
                    </a>
                </div>
                <div class="main-desc">
                    <p class="price">$precio</p>
                    <p class="discount">descuento(si tiene)</p>
                    <h4 class="description">descripcion/nombre</h4>
                </div>
            </article>

            <article>
                <div>
                    <a href="#" >
                        <div>
                            <img src="images\Microprocesador Intel Celeron G5905 3.50 GHz Comet Lake 4MB LGA1200.jpg"/>
                        </div>
                    </a>
                </div>
                <div class="main-desc">
                    <p class="price">$precio</p>
                    <p class="discount">descuento(si tiene)</p>
                    <h4 class="description">descripcion/nombre</h4>
                </div>
            </article>

            <article>
                <div>
                    <a href="#" >
                        <div>
                            <img src="images\Procesador AMD Ryzen 5 5600G 4.4 GHz Radeon Graphics AM4 + Cooler Wraith Stealth.jpg"/>
                        </div>
                    </a>
                </div>
                <div class="main-desc">
                    <p class="price">$precio</p>
                    <p class="discount">descuento(si tiene)</p>
                    <h4 class="description">descripcion/nombre</h4>
                </div>
            </article>
        </section>
    </main>
    <%- include ("./partials/footer.ejs")%>
    </div>  
</body>
</html>