<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("./partials/head.ejs")%>
    <link rel="stylesheet" href="/css/login-styles.css">
</head>
<body>
    
    <%- include ("./partials/header.ejs")%>

    <main class="formulario">
       <form action="/login"  method="POST">
    <p>
        <label for="email">E-mail</label>
        <input type="email" id="email" name="email" placeholder="correo@correo.com" required>
    </p>
    <br>
    <p>
        <label for="password">Contraseña</label>
        <input type="password" id="password" name="password" placeholder="Contraseña" required>
    </p>
    <br>
    <p>
        <label></label>
           <button class="buttonSes" type="submit">Iniciar Sesión</button>
           <br>
       <nav class="registrarse">¿Aún no tienes cuenta? <button class="buttonSes" type="submit">Registrarse</button></nav>
    </p>
</form>
    </main>
    <%- include ("./partials/footer.ejs")%>     
    </div>  
</body>
</html>