<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/productDetail-styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,700&family=Syne:wght@400;700;800&display=swap" rel="stylesheet">
    <title>Unlimited Gaming</title>
</head>
<body>
    <header>
        <div class="top">
            <div class="burgerMenu">
                <i class="fas fa-bars fa-2x"></i>
            </div>
            <div>
                <img class="logo" src="/images/logo ug 2.jpg"/>
            </div>
            <nav>
                <ul class="ingreso">
                    <li><a href="/login">Ingresar <i class="fas fa-user fa-2x"></i></a></li>
                    <li><a href="/register">Registrarse <i class="fas fa-sign-in-alt fa-2x"></i></a></li>
                    <li><a href="/compras"><i class="fas fa-shopping-cart fa-2x"></i></a></li>
                </ul>
            </nav>
        </div>
        <div class="buscador">
            <div class="input"><input placeholder="Buscar productos"></div>
            <button class="botonBuscar"><i class="fas fa-search"></i></button>
        </div>
          
        <nav>
            <ul class="barra">
                <li><a href="#">Componentes</a></li>
                <li><a href="#">Periféricos</a></li>
                <li><a href="#">Portátiles</a></li>
                <li><a href="#">PC Armadas</a></li>
            </ul>
        </nav>
    </header>
    
    
</body>
</html>