<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("./partials/head.ejs")%>
    <link rel="stylesheet" href="/css/productDetail-styles.css">
</head>
<body>
    <%- include ("./partials/header.ejs")%>

    <main>
        <section class="detalleProducto">
            <article class="producto">
                <h4>
                    Motherboard MSI A320M-A PRO MAX AMD AM4
                </h4>   
                <div class="meGustaCompartir">
                    <a href=""><i class="far fa-heart"></i></a>
                    <a href=""><i class="fas fa-share-alt"></i></a>
                </div>
                <div class="imagenProducto">
                    <img src="images\Motherboard MSI A320M-A PRO MAX AMD AM4.png" />
                </div>
                <br>
                <div class="precio">
                    <p>$</p>
                </div>
            </article>
            <article class="caracteristicas">
                <h4>Características</h4>
                <p>Motherboard básico para PCs simples, compatible con procesadores Ryzen de generaciones pasadas.</p>
                <p>Placa madre AMD AM4 inspirada en los diseños arquitectónicos, con Core Boost, DDR4 Boost, Turbo M.2, USB 3.2 Gen1</p>
                <p>Soporta procesadores Desktop 1ra, 2da y 3ra Gen AMD Ryzen™ / Ryzen™ con gráficos Radeon™ Vega y 2da Gen AMD Ryzen™ con gráficos Radeon™ / Athlon™ con gráficos Radeon™ Vega y A-series / Athlon X4 para Socket AM4
                    Soporta memoria DDR4, hasta 3200 (OC) MHz
                    Turbo M.2: Con velocidad PCI-E Gen3 x4 maximiza el desempeño para SSDs basados en NVMe.
                    Audio Boost: Gratifica tus oídos con el sonido con calidad de estudio.
                    X-Boost: Software que detecta automáticamente y permite impulsar el desempeño de cualquier dispositivo de almacenamiento o USB.
                    Core Boost: Con distribución premium y diseño energético totalmente digital, soporta más núcleos y ofrece mejor desempeño.</p>
                    
            </article>
            <article class="interacionProducto">
                <div class="cantidad">
                    <label>Cantidad</label>
                   <select name="categoria" class="cantidad">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                   </select>
                </div>
                <a class="carroComprasProduct"><i class="fas fa-cart-arrow-down"></i></a>
                <a class="comprar" href="/compras">Comprar</a>
            </article> 
        </section>
        <br>
        <section class="productoRelacionado">
                <h4>Producto Relacionado</h4>
            <div class="detalleProdRela">
                <div class="img-text1">
                    <img src="images/Motherboard_Gigabyte_A320M_S2H_V2.jpg" />
                    <div class="text1">
                        <h5>Motherboard Gigabyte A320M S2H V2</h5>
                        <p>$</p>
                    </div>
                </div>
            </div>
        </section>
        <div class="carrousel">
            <h4>Producto Relacionado</h4>
            <div class="grande">
                <div class="img-text2">
                    <img src="images/Motherboard_Gigabyte_A320M_S2H_V2.jpg" alt="imagen 1" class="img"/>
                    <div class="text2">
                        <h5>Motherboard Gigabyte A320M S2H V2</h5>
                        <p>$</p>
                    </div> 
                </div>
                <div class="img-text2">
                    <img src="images/Motherboard_Gigabyte_A320_S2H_AM4.jpg" alt="imagen 2" class="img"/>
                    <Div class="text2">
                        <h5>Motherboard Gigabyte A320M S2H AM4</h5>
                        <p>$</p>
                    </Div>
                </div>
               
            </div>
            <ul class="puntos">
                <li class="punto activo"></li>
                <li class="punto"></li>
            </ul>
        </div>
    </main>
    <%- include ("./partials/footer.ejs")%>
</body>
</html>