<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("./partials/head.ejs")%>
    <link rel="stylesheet" href="/css/register-styles.css">
</head>
<body background="/images/fondo-register.jpg">
    
    <%- include ("./partials/header.ejs")%>

    <main class="formulario">
       <form action="/register"  method="POST">
        <div><label for="NombreyApellido">Nombre y Apellido</label>
        <input type="name" id="NombreyApellido" name="NombreyApellido" placeholder="John Doe" required></div>
        <br>
        <div><label for="NombredeUsuario">Nombre de Usuario</label>
        <input type="name" id="NombredeUsuario" name="NombredeUsuario" placeholder="Usuario" required></div>
        <br>
        <div><label for="email">E-mail</label>
            <br>
        <input type="email" id="email" name="email" placeholder="correo@correo.com" required></div>
        <br> 
        <div><label for="Date">Fecha de Nacimiento</label>
        <input type="date" id="Date" name="Date" placeholder="12/12/2012" required></div>
        <br> 
        <div><label for="domicilio">Domicilio</label>
        <input type="text" id="domiciliio" name="domiciliio" placeholder="calle 3 # 3-33" required></div>
        <br>
        <div><label for="password">Contrase単a</label>
        <input type="password" id="password" name="password" placeholder="Contrase単a" minlength="5"></div>
        <br>
        <div><label for="password">Confirmar Contrase単a</label>
        <input type="password" id="password" name="confirm password" placeholder="Confirmar Contrase単a" required></div>
        <br>    
        <div class="buttonReg">
            <button type="post">Registrarse</button>
            <button type="reset">Cancelar</button>
        </div>
    </main>

    <%- include ("./partials/footer.ejs")%>  
    </div>  
</body>
</html>