<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("./partials/head.ejs")%>
        <link rel="stylesheet" href="/css/register-styles.css">
</head>

<body background="/images/fondo-register.jpg">

    <%- include ("./partials/header.ejs")%>

        <main class="formulario">
            <form action="/user/register" method="POST" enctype="multipart/form-data" charset=utf-8>
                <div>
                    <label for="firstname">Nombre</label>
                    <input type="text" id="firstname" value="a" name="firstname" placeholder="John Doe" required>
                </div>
                <br>
                <div>
                    <label for="lastname">Apellido</label>
                    <input type="text" id="lastname" value="a" name="lastname" placeholder="John Doe" required>
                </div>
                <br>
                <div>
                    <label for="email">E-mail</label>
                    <input type="email" id="email" value="a@a.com" name="email" placeholder="correo@correo.com"
                        required>
                </div>
                <br>
                <div>
                    <label for="birthday">Fecha de Nacimiento</label>
                    <input type="date" id="birthday" value="2022-09-01" name="birthday" placeholder="12/12/2012"
                        required>
                </div>
                <br>
                <div>
                    <label for="address">Domicilio</label>
                    <input type="text" id="address" value="a" name="address" placeholder="calle 3 # 3-33" required>
                </div>
                <br>
                <div>
                    <label for="password">Contrase単a</label>
                    <input type="password" id="password" value="12345" name="password" placeholder="Contrase単a"
                        minlength="5">
                </div>
                <br>
                <div>
                    <label for="confirmPassword">Confirmar Contrase単a</label>
                    <input type="password" id="confirmPassword" value="12345" name="confirmPassword"
                        placeholder="Confirmar Contrase単a" required>
                </div>
                <br>
                <div>
                    <label for="img">Foto de Perfil</label>
                    <input type="file" id="img" name="img" accept=".jpg,.png">
                </div>
                <br>
                <div class="buttonReg">
                    <button type="submit">Registrarse</button>
                    <button type="reset">Cancelar</button>
                </div>
            </form>
        </main>

        <%- include ("./partials/footer.ejs")%>
</body>

</html>