*{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

body {
    background-color: white;
    position: relative;
    padding-bottom: 12vh;
}

.logo{
    width: 30vw;
    align-items: flex-start;
}

header{
    background-color: #191068;
}

header .carroCompras{
    display: flex;
    flex-direction: row-reverse;
    font-size: 1.5vw;
    padding: 0 8vw 2vw 0;
}

header .carroCompras a{
    font-size: 100%;
    border-radius: 50px;
    background-color: #c0fd68;
    color: #191068;
    width: 4vw;
    height: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 4px;
}
header .buscador{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 8%;
    height: 4vh;
}

header input{
    background-color: #FFF;
    border: 1px solid #c0fd68;
    outline: none;
    color: #666;
    border-radius: 10px;  
    width: 60vw;
    height: 4vw;
    min-height: 50%;
    max-height: 100%;
    font-size: 3vw;
}

.botonBuscar{
    border: 1px solid #c0fd68;
    border-radius: 50px;
    background-color: #c0fd68;
    color: #191068;
    width: 4vw;
    height: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.botonBuscar i{
    font-size: 3vw;
}

header .top{
    display: flex;
    margin: 0vw 1vw 0vw 1vw;
    align-items: center;
    justify-content: space-around;
}


header nav ul{
        display: flex;
        justify-content: space-around;
        list-style: none;
        font-size: 2vh;
    }

header nav .ingreso{
    flex-direction: column;
    align-items: flex-end;
    gap: 3px;
    max-height: 20%;
}
header nav .ingreso a{
    color: white;
    align-content: space-around;
    font-size: 3vw;
}

header nav .ingreso i{
    color: #c0fd68;
}

header nav .barra{
    display: flex;
    padding: 1vw;
    max-width: 100vw;
    background-color: #c0fd68;
    color: #191068;
    font-weight: 800;
    font-size: 1.5vw;
}

.barra{
    padding-right: 20px;
}

header nav .barra{
    display:none;
}

/*.burgerMenu{
    width: 40px;
    height: 40px;
    background-color: #c0fd68;
    color:#191068;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    margin: 0 auto;
}*/

.burgerMenu{
    color:#c0fd68;
    align-items: flex-start;
    font-size: 2vh;
}

header nav a {
    text-decoration: none;
}

main{
    width: 90vw;
    margin: 0 auto;
}

body main section.offers{
    margin-top: 5vh;
    border: solid 3px #191068;
    border-radius: 3%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    
}
body main section.offers a img{
    box-sizing: border-box;
    width: 90%;
}
.flechas{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

main section article div a{
    display: flex;
    justify-content: center;
    align-items: center;
    
}


main section article{
    max-width: 80vh;
    margin-top: 5vh;
    border: #191068 solid 3px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

main section article a img{
    width: 70%;
}

.main-desc{
    border-top: solid 2px rgb(207, 207, 207);
    background-color:#ebebeb;
    padding:15px;
    box-sizing: border-box;
}
.main-desc p{
    font-size: 16px;
}

.description{
    font-size: 18px;
    flex-grow: 0.2%;
}

.footer{
    height: 10vh;
    min-width: 100%;
    background-color: #191068;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    justify-content: center;
}

footer nav ul a{
    color: white;
    text-decoration: none;
    font-size: 2vh;
    align-items: center;
    justify-content: center;
    margin: auto;
}

footer img{
    max-height: 10vh;
    max-width: 20vh;
    width: 20vw;
    align-items: flex-start;
}

footer .barraFooter{
    display: flex;
    justify-content: space-around;
}

@media (min-width:360px){
    main section article:hover{
        box-shadow: 0px 0px 10px rgb(0, 0, 0);
    }
    .productos{
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
        justify-content: center;
        width: 100%;
    }
}

@media (min-width: 769px){
    header nav .barra{display:flex;
    }
    .burgerMenu{display: none;}
}