*{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

body {
    background-color: #191068ab;
    position: relative;
    padding-bottom: 12vh;
    min-height: 100vh;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

main{
    width: 90vw;
    margin: 0 auto;
}
body main section.offers div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}
body main section.offers{
    margin-top: 5vh;
    border: solid 3px #191068;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);  
    margin-bottom: 5vh;
}
body main section.offers a img{
    box-sizing: border-box;
    width: 80%;
}

.titP{
    display: flex;
    justify-content: center ;
    background-color: rgba(25, 16, 104, 0.8);
    font-size: 100%;
    border: transparent 1px solid;
    border-radius: 10px;
    width: 100%;
    margin-top: 10%;
}
h2{
    color: #FFF;
}
main section article div a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3%;
    background-color: rgba(255, 255, 255, 0.8);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 150px;
}

main section article div a div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    width: 90%;
    height: 90%;
    transition: 500ms all;
    text-align: center;
    padding: 2%;
    box-sizing: border-box;
}
main section article:hover div a div{
    box-shadow: 0px 0px 10px #191068;
}

main section article{
    max-width: 80vh;
    margin-top: 5vh;
    border: #191068 solid 3px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

main section article a img{
    width: 50%;
}

.main-desc{
    border-top: solid 2px rgba(255, 255, 255,1.8);
    background-color:rgba(255, 255, 255, 0.8);
    padding:15px;
    box-sizing: border-box;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 100%;
    box-sizing: border-box;
}

.main-desc p{
    font-size: 90%;
}
.description{
    font-size: 110%;
    box-sizing: border-box;
}

@media (min-width:360px){
    .main-desc p{
        font-size: 100%;
    }
    
    .description{
        font-size: 120%;
        box-sizing: border-box;
    }
    main section article:hover{
        box-shadow: 0px 0px 10px rgb(0, 0, 0);
    }
    .productos{
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
        justify-content: center;
        width: 100%;
    }
    main section article{
        max-width: 40vh;
    }
    main section article div a div{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #FFF;
        width: 100%;
        height: 100%;
        transition: 500ms all;
        text-align: center;
        padding: 2%;
        box-sizing: border-box;
    }
    main section article a img{
        width: 60%;
        box-sizing: border-box;
    }
}


@media (min-width: 769px){
    .burgerMenu{
        color:#c0fd68;
        align-items: flex-start;
        font-size: 2vh;
    }
    
}

@media (min-width: 1200px){
    main section article a img{
        width: 50%;
    }
    
}
