*{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

body {
    background-color: white;
    position: relative;
    padding-bottom: 12vh;
    min-height: 100vh;
}

.logo{
    width: 18vw;
}

header{
    background-color: #191068;
}

header .buscador{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

header .carroCompras{
    display: flex;
    flex-direction: row-reverse;
    font-size: 1.5vw;
    padding: 0 8vw 2vw 0;
}

header .carroCompras a{
    color: #191068;
    background-color:#c0fd68;
    display: inline-block;
    border-radius: 60px;
    padding: 0.5em 0.6em;
}

header input{
    background-color: #FFF;
    border: 1px solid #c0fd68;
    outline: none;
    color: #666;
    border-radius: 10px;  
    width: 60vw;
    height: 100%;
    font-size: 1.4vw;
}

header button{
    color: #191068;
}

header .top{
    display: flex;
    margin: 0vw 1vw 0vw 1vw;
    align-items: center;
    justify-content: space-around;
}


header nav ul{
        display: flex;
        justify-content: space-around;
        list-style: none;
        font-size: 2vh;
    }

header nav .ingreso{
    flex-direction: column;
    align-items: flex-end;
    gap: 3px;
    max-height: 20%;
}


header nav .ingreso a{
    color: white;
    align-content: space-around;
    font-size: 1.7vw;
}

header nav .ingreso i{
    color: #c0fd68;
}

header nav .barra{
    display: flex;
    padding: 1vw;
    max-width: 100vw;
    background-color: #c0fd68;
    color: #191068;
    font-weight: 800;
    font-size: 1.5vw;
}

.barra{
    padding-right: 20px;
}


.botonBuscar{
    border: 1px solid #c0fd68;
    border-radius: 10px;
    background-color: #c0fd68;
    color: #191068;
    max-height: 100%;
}

.botonBuscar i{
    font-size: 3vw;
}


/*.burgerMenu{
    width: 40px;
    height: 40px;
    background-color: #c0fd68;
    color:#191068;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    margin: 0 auto;
}*/

.burgerMenu{
    color:#c0fd68;
    align-items: flex-start;
    font-size: 2vh;
}

header nav a {
    text-decoration: none;
}

.footer{
    max-height: 11vh;
    background-color: #191068;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    width: 100%;
    bottom: 0;
}

footer nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 1.5vw;

}

footer nav ul{
    display: flex;
    justify-content: space-around;
    
    list-style: none;
    gap: 10vw
}


footer img{
    max-width: 20vh;
    max-height: 10vh;
    width: 20vw;
}

footer .logoFooter{
    display: flex;
    justify-content: flex-start;
}


@media (min-width: 0px){
    header nav .barra{display:none;
    }
    .burgerMenu{display:block ;}
}

@media (min-width: 769px){
    header nav .barra{display:flex;
    }
    .burgerMenu{display: none;}
}

/*
aumentar el ancho de la barra cuando pase a versión tablet*/





