* {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

header input {
    display: none;
}

.botonBuscar {
    display: none;
}

body {
    background-color: #191068;
    position: relative;
    padding-bottom: 12vh;
    min-height: 100vh;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}


.formulario {
    border: solid 4px #191068;
    border-radius: 50px;
    margin: 7% 25%;
    padding: 3%;
    max-width: 90vw;
    background-color: rgba(255, 255, 255, 0.7);
    color: #191068;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    box-sizing: content-box;
    flex-direction: column;
}

.errores {
    color: rgb(228, 26, 26);
    transition: 100ms all;
    border-radius: 10px;
}

.errores:hover {
    color: #c0fd68;
    background-color: rgba(25, 16, 104, 0.8);
}

.form-control.falla input {
    border: 0.1px solid;
    border-color: rgb(228, 26, 26)
}

.form-control.falla p {
    visibility: visible;
}

.form-control.ok input {
    border: 0.1px solid;
    border-color: rgb(44, 207, 82)
}

main input {
    border: 3px solid transparent;
    border-radius: 6px;
    height: 45px;
    line-height: 45px;
    padding-left: 1vw;
    margin-top: 1vh;
    width: 100%;
}

main textarea {
    border: 3px solid transparent;
    border-radius: 6px;
    height: 45px;
    line-height: 45px;
    padding-left: 1vw;
    margin-top: 1vh;
    width: 100%;
}

main .categoria {
    border: 3px solid transparent;
    border-radius: 6px;
    height: 45px;
    line-height: 45px;
    padding-left: 1vw;
    margin-top: 1vh;
    width: 100%;
}

main .buttonReg {
    display: inline-block;
}

main button {
    background-color: #ffff;
    color: #c0fd68;
    padding: 1vw;
    background-color: #191068;
    border: #191068 solid 1px;
    border-radius: 5px;
    font-size: 100%;
    font-weight: bolder;
    transition: all .8s;
}

main button:hover {
    background-color: #c0fd68;
    color: #191068;
}




@media (min-width: 0px) {
    header nav .barra {
        display: none;
    }

    .burgerMenu {
        display: show;
    }
}

@media (min-width: 769px) {
    header nav .barra {
        display: none;
    }

    .burgerMenu {
        display: show;
    }

    header .buscador {
        padding: 0%;
    }
}